<!-- User data here  -->
<div class="divider">
  <div class="wrap">
    <h3>Your wallet</h3>
  </div>
</div>
<div class="wrap">
  <p id="address">
    0x614A61a3b7F2fd8750AcAAD63b2a0CFe8B8524F1
  </p>
</div>

<!-- In case of successful sign: Add class 'hidden' to the div.action and remove 'hidden' from div.success -->
<section class="claim center">
    <div class="wrap">

      <div class="action">
        <button><a id="claim-badge" href="#">Gimme' badge<small>I'll sign whatever</small></a></button>
      </div>

      <div class="success hidden">
        <h3>You're all set</h3>
        <p>
          Your badge will show up on <a href="#">POAPscan</a> shortly. Smash that refresh button.
        </p>
      </div>

  </div>
</section>

<script src="./bundle.js"></script>
