<!-- Metamask found  -->
<section class="login web3 center hide">
    <div class="wrap">
      <button><a id="claim-badge" href="claim.html">I am right here<small>So give me the badge</small></a></button>
  </div>
</section>

<!-- Metamask found not logged in  -->
<section class="login metamask center hide">
    <div class="wrap">
      <button><a id="login-metamask">Login<small>with Metamask</small></a></button>
  </div>
</section>


<!-- No metamask found  -->
<section class="login no-metamask center hide">
  <div class="wrap">
    <p class="error">
        Please install metamask.
    </p>
  </div>
</section>

<!-- No web3 found  -->
<section class="login no-web3 center hide">
  <div class="wrap">
    <p class="error">
        You need a web3 enabled browser to get your badge here.
    </p>
  </div>
</section>

<script src="./bundle.js"></script>
